# Servidor
PORT=3000
NODE_ENV=development

# SQL Server
DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=BD_BBVA
DB_USER=sa
DB_PASSWORD=TuPasswordSQL123!
DB_ENCRYPT=false
DB_TRUST_CERT=true

# JWT
JWT_SECRET=bbva_fake_jwt_secret_2024_muy_seguro
JWT_EXPIRES_IN=8h
