# Configuración del servidor
PORT=3000
NODE_ENV=development

DB_SERVER=localhost
DB_DATABASE=BD_BBVA

# Opcional si usan puerto específico
# DB_PORT=1433
DB_AUTH_TYPE=windows

# Solo si DB_AUTH_TYPE=sql
# DB_USER=sa
# DB_PASSWORD=TuPasswordSQL123!

DB_ENCRYPT=false
DB_TRUST_CERT=true

# JWT
JWT_SECRET=bbva_fake_jwt_secret_2024_muy_seguro
JWT_EXPIRES_IN=8h